<header>
  <div>
      <img src="../assets/fotoperfil.jpg" alt="">
  </div>
  <div>
       <h1>Curriculum Vitae</h1>
      <p>Rua Ernesto Novaes de Souza, 1165 <br>
      Ubiratã, PR <br>
      CEP 85440-000</p>
  </div>

</header>
<article>
  <h2>Ana Luísa Tomita Melo</h2>
  <p>
      CPF: 999999999-99 <br>
      Data de Nascimento: 23/04/1993 <br>
      Telefone: (44)3333-3333
  </p>

  <h2>Cargos Pretendidos</h2>
  <ul>
      <li>Desenvolvedor Java</li>
      <li>Desenvolvedor Anguler</li>
      <li>Product Owner</li>
  </ul>

  <h2>Experiência Profissional</h2>
  <ul>
      <li>Analista de Sistemas - 4 meses (2021 ate o momento)</li>
      <li>Engenharia de Produto - 4 anos (2016 - 2020)</li>
  </ul>
</article>
<footer>
  Elaborado por: Ana Luísa Tomita Melo
</footer>
